* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background: var(--color-common);
  color: var(--color-dark);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  font-family: Hauss, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.555;
}

h1 {
  margin: 1.291666em 0;
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  line-height: 1.1666;
}

h2 {
  margin: 2em 0 1.125em;
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  line-height: 1.25;

  .typogaphy & {
    margin-left: -2px;
  }

  h1 + & {
    margin-top: 1.125em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p, ul {
  padding: 0;
  margin: 1.555555em 0;
}

ul {
  margin-bottom: 2em;
  padding-left: 1.5em;
}
