@font-face {
  font-family: "Hauss";
  src: url("../assets/fonts/Hauss/als_hauss_regular.woff2") format("woff2"),
  url("../assets/fonts/Hauss/als_hauss_regular.woff") format("woff");

  font-weight: 400;
}

@font-face {
  font-family: "Hauss";
  src: url("../assets/fonts/Hauss/als_hauss_medium.woff2") format("woff2"),
  url("../assets/fonts/Hauss/als_hauss_medium.woff") format("woff");

  font-weight: 500;
}

@font-face {
  font-family: "HaussMono";
  src: url("../assets/fonts/Hauss/ALSHaussMono-Medium.woff2") format("woff2"),
  url("../assets/fonts/Hauss/ALSHaussMono-Medium.woff2") format("woff");

  font-weight: 500;
}

@font-face {
  font-family: "HaussMono";
  src: url("../assets/fonts/Hauss/ALSHaussMono-Regular.woff2") format("woff2"),
  url("../assets/fonts/Hauss/ALSHaussMono-Regular.woff") format("woff");

  font-weight: 400;
}